@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Practica 1: Razor</h1>
    <p><a>Emmanuel Escobedo Gonzalez</a></p>
        <p><a>IDGS_901</a></p>
</div>
